.Header{
    position: absolute;
    left: 77px;
    top: 40px;
}

.Header__title{
    font-weight: 700;
    font-size: 24px;
    font-style: normal;
    letter-spacing: -0.08em;
    text-transform: uppercase;
    line-height: 25px;
}